@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

body {
  font-family: "Poppins", sans-serif;
  background: rgb(193, 209, 24);
  background: linear-gradient(
    270deg,
    rgba(193, 209, 24, 1) 40%,
    rgba(250, 255, 0, 1) 63%
  );
}

.tcimg {
  height: 200px;
  width: 200px;
}

.A1 {
  letter-spacing: 3px;
  padding: 0;
  font-size: 35px;
}

.A2 {
  padding-left: 200px;
  padding-right: 200px;
  font-size: 25px;
  text-align: justify;
}

.f {
  display: block;
  padding: 9px;
  width: 100%;
  position: relative;
  bottom: 0px;
  background-color: #993300;
  color: white;
  text-align: center;
  height: auto;
}

@media screen and (max-width: 801px) {
  .A2 {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
  }
}

@media screen and (max-width: 801px) {
  .A1 {
    padding: 0;
    font-size: 30px;
  }
}
