@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffff99;
}

.tcimg {
  height: 200px;
  width: 200px;
}
.f {
  display: block;
  padding: 9px;
  width: 100%;
  position: relative;
  bottom: 0px;
  background-color: #993300;
  color: white;
  text-align: center;
  height: 57px;
}

h3 {
  padding: 0;
  font-size: 30px;
  text-align: center;
  color: #e64d00;
  font-weight: bold
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #00b300;
  color: white;
  padding: 11px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 10%;
}

input[type=submit]:hover {
  background-color: tomato;
}

.container {
  border-radius: 6px;
  background-color: #ffff99;
  padding: 20px;
}